*.pyc
*~
_pycache_
myvenv
db.sqlite3
/static
.DS_Store
git status
On branch master


Initial commit


Untracked files:
  (use "git add <file>..." to include inwhat will be committed)


       .gitignore
       blog/
       manage.py
       mysite/


nothing added to commit but untracked files present (use "git add" to track)
